.main-weather-hours-info{
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    &::after{
        top: 10px;
        left: -8px;
        position: absolute;
        content: '';
        width: 1px;
        height: 78%;
        background-color: rgb(0, 0, 0, 0.3);
    }

    .back-button-detail{
        cursor: pointer;
        position: absolute;
        width: 50px;
        height: 50px;
        top: -5px;
        left: -10px;
        transition: 0.3s;

        &:hover{
            transform: translateX(-3px);
        }
    }

    .hours-info, .hours-detail-info{
        margin-top: 10px;
        margin-left: 10px;
        width: 23%;
        height: 38%;   
        border: 1px solid rgb(0, 0, 0, 0.3);
        border-radius: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-weight: 700;
        color: rgb(40, 29, 96);
        background-color: rgba(144, 144, 10, 0.2);
        // transition: width 0.5s, height 0.5s, border-radius 0.3s;
        transition: 0.3s;

        .hours-weather-image-info{
            width: 100px;
            height: 100px;
        }
    }

    .hours-info{
        &:hover{
            background-color: rgba(32, 141, 165, 0.414);
            cursor: pointer;
        }
    }

    .hours-detail-info{
        margin-right: 10px;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 20%;
        border-radius: 10px;
    }

    .detail-info-container{
        margin: 10px;
        width: 100%;
        height: 60%;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;

        .detail-info-rain, .detail-info-snow, .detail-info-wind{
            width: 30%;
            height: 95%;
            background-color: rgba(97, 201, 37, 0.516);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.4s;

            &:hover{
                border-radius: 20%;
            }

            .detail-info-image{
                margin-top: 15px;
                background-position: center;
                width: 120px;
                height: 100px;
            }

            div{
                font-size: 20px;
                margin-top: 10px;
            }
        }
    }
}